.select-wrapper {
  position: relative;
}

.select-field {
  width: 100%;
  padding: var(--space-3);
  padding-right: 36px;
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  color: var(--color-text);
  background-color: var(--color-white);
  border: none;
  border-radius: var(--radius-sm);
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  appearance: none;
  cursor: pointer;
}

.select-wrapper__icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-field:hover:not(:disabled) {
  border-color: var(--color-border-hover);
}

/* .select-field:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgba(124, 93, 250, 0.2);
} */

.select-field:disabled {
  background-color: var(--color-background-light);
  cursor: not-allowed;
  opacity: 0.7;
}

/* Error State */
.select-field--error {
  border-color: var(--color-danger) !important;
  border: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0px;
  border-bottom: 1px solid var(--color-danger);
}

/* .select-field--error:focus {
  box-shadow: 0 0 0 3px rgba(229, 62, 62, 0.2);
} */