main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-layout {
  height: calc(100vh - var(--header-height, 0px));
  overflow: hidden;
  padding: var(--space-5);
  display: flex;
  gap: 1px;
  max-width: 1280px;
}

.customer-container {
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}


.sidebar-ui {
  height: 100%;
  overflow-y: auto;
  position: sticky;
  top: 20px;
  padding: 0;
}

.sidebar-ui-card {
  background: rgba(255, 255, 255, 0.6);
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 20px 16px;
  gap: 2px;
  cursor: pointer;
  border-bottom: 1px solid #e5e7eb;
  font-size: var(--space-4);
  font-weight: bold;
  color: #475569;
  transition: background-color 0.2s ease;
}

.sidebar-item:last-child {
  border-bottom: none;
}

.sidebar-item:hover {
  background: var(--color-white);
}

.sidebar-item.active {
  font-weight: 600;
  background: var(--color-white);
  border-bottom: 4px solid var(--color-primary);
  margin-left: 0;
  margin-right: 0;
}

.sidebar-icon {
  margin-right: 12px;
}


.address-display-card {
  border-radius: var(--radius-md);
  background-color: var(--color-white);
  padding: var(--space-4);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.address-display-text {
  color: var(--color-text-muted);
}

.address-actions {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  cursor: pointer;
}

.address-editable-form {
  /* padding: var(--space-4); */
}

.address-editable-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-3);
  font-size: var(--font-size-lg);
}

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 0 var(--space-4);
}

.leave-modal-overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn .25s ease-in-out;
  z-index: 9999;
}

.leave-modal {
  background: rgba(255, 255, 255, 0.9);
  border-radius: var(--radius-sm);
  padding: 24px;
  width: 350px;
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  animation: slideUp .3s ease-out;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.stay-btn,
.leave-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.stay-btn {
  background: #6c6cff;
}

.leave-btn {
  background: #ff4b4b;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}



.fixed-form-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--color-white);
  border-top: 1px solid #e5e7eb;
  padding: 16px var(--space-4);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
  z-index: 100;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}



.form-fields-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 8px;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.bank-account-title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  margin-bottom: var(--space-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text);
}

@media (min-width: 768px) {
  .form-fields-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .form-fields-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}



/* .form-wrapper form {
  padding-bottom: 20px; 
} */

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}


.fixed-form-footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
  border-top: 2px solid rgba(255, 255, 255, 0.6);
  padding: 16px var(--space-4);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
  z-index: 100;
  backdrop-filter: blur(8px);
}


.fixed-form-footer .button-row {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}