body.modal-open {
    overflow: hidden;
}

.modal-container {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    transition: backdrop-filter 0.3s ease;
}

.modal-content {
    position: relative;
    z-index: 10;
    background: rgb(255 255 255 / 88%);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: var(--radius-md);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    min-width: 320px;
    max-width: 535px;
    transition: transform 0.3s ease-in-out;
}

.modal-default {
    padding: 20px;
}

.modal-title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 10px;
}

.modal-message {
    font-size: var(--font-size-md);
    color: #555;
    margin-bottom: 25px;
    line-height: 1.4;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    border: none;
    background: #f1f1f1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    transition: all 0.2s ease;
    z-index: 20;
}

.modal-close-btn:hover {
    background: #e0e0e0;
    color: #333;
    transform: rotate(90deg);
}

.model-pragraph {
    font-weight: 600;
}


.unsaved-model-info{
    flex:1;
}

.model-title-container{
    display: flex;
    align-items: flex-start;
    gap: var(--space-4);
}