.textarea-wrapper {
  position: relative;
  width: 100%;
}

.textarea-field {
  width: 100%;
  height: 110px;
  padding: var(--space-3);
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  color: var(--color-text);
  background-color: #fff;
   border: none;
  border-radius: var(--radius-sm);
  resize: none;
  outline: none;
  transition: 0.2s;
  box-sizing: border-box;
}

.textarea-field:hover {
  border-color: #cfcdea;
}


.textarea-counter {
  position: absolute;
  bottom: 6px;
  right: 10px;
  font-size: 12px;
  color: #999;
  pointer-events: none;
}
