.profile-upload-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 24px; 
}

.profile-upload-box {
  width: 95px;
  height: 95px;
  background: var(--color-secondary-light); 
  border: none;
  border-radius: var( --radius-sm);
  border: 2px solid #b3d9ff; 
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 0.3s ease;
}

.profile-upload-box:hover {
  border-color: #6d8afc; 
}

.upload-error {
  border-color: #f87171 !important; 
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder-icon {
  width: 32px;
  height: 32px;
  background-color: transparent;
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#60A5FA" opacity="0.8"><path d="M4 3h16a2 2 0 012 2v14a2 2 0 01-2 2H4a2 2 0 01-2-2V5a2 2 0 012-2zm0 2v14h16V5H4zm3 8l3 3 5-5 3 3V5H4v8h3z"/></svg>'); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.camera-btn {
  width: 26px;
  height: 26px;
  background: var(--color-white); 
  border-radius: 6px; 
  position: absolute;
  top: 2px; 
  right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  border: none; 
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.hidden-input {
  display: none;
}

.error-text {
  font-size: 13px;
  color: #ef4444; 
}